.idea
bert-base-uncased/config.json
bert-base-uncased/pytorch_model.bin
bert-base-uncased/tokenizer.json
bert-base-uncased/vocab.txt
data/.DS_Store
data/webquerytable/.DS_Store
data/webquerytable/dev_query.txt
data/webquerytable/qtrels.txt
data/webquerytable/tables.json
data/webquerytable/test_query.txt
data/webquerytable/train_query.txt
data/webquerytable/WebQueryTable_Dataset/Readme.txt
data/webquerytable/WebQueryTable_Dataset/WQT.dataset.query-table.tsv
data/webquerytable/WebQueryTable_Dataset/WQT.dataset.query.tsv
data/webquerytable/WebQueryTable_Dataset/WQT.dataset.table.tsv
src/model/pretrain.py
src/model/retrieval.py
src/table_encoder/gat.py
trec_eval/.github/workflows/push.yml
trec_eval/bpref_bug
trec_eval/build.bat
trec_eval/CHANGELOG
trec_eval/common.h
trec_eval/convert_zscores.c
trec_eval/form_prefs_counts.c
trec_eval/form_res_rels.c
trec_eval/form_res_rels_jg.c
trec_eval/formats.c
trec_eval/functions.h
trec_eval/get_prefs.c
trec_eval/get_qrels.c
trec_eval/get_qrels_jg.c
trec_eval/get_qrels_prefs.c
trec_eval/get_trec_results.c
trec_eval/get_zscores.c
trec_eval/m_11pt_avg.c
trec_eval/m_binG.c
trec_eval/m_bpref.c
trec_eval/m_G.c
trec_eval/m_gm_bpref.c
trec_eval/m_gm_map.c
trec_eval/m_infap.c
trec_eval/m_iprec_at_recall.c
trec_eval/m_map.c
trec_eval/m_map_avgjg.c
trec_eval/m_map_cut.c
trec_eval/m_ndcg.c
trec_eval/m_ndcg_cut.c
trec_eval/m_ndcg_p.c
trec_eval/m_ndcg_rel.c
trec_eval/m_num_nonrel_judged_ret.c
trec_eval/m_num_q.c
trec_eval/m_num_rel.c
trec_eval/m_num_rel_ret.c
trec_eval/m_num_ret.c
trec_eval/m_P.c
trec_eval/m_P_avgjg.c
trec_eval/m_prefs_avgjg.c
trec_eval/m_prefs_avgjg_imp.c
trec_eval/m_prefs_avgjg_ret.c
trec_eval/m_prefs_avgjg_Rnonrel.c
trec_eval/m_prefs_avgjg_Rnonrel_ret.c
trec_eval/m_prefs_num_prefs_ful.c
trec_eval/m_prefs_num_prefs_ful_ret.c
trec_eval/m_prefs_num_prefs_poss.c
trec_eval/m_prefs_pair.c
trec_eval/m_prefs_pair_imp.c
trec_eval/m_prefs_pair_ret.c
trec_eval/m_prefs_simp.c
trec_eval/m_prefs_simp_imp.c
trec_eval/m_prefs_simp_ret.c
trec_eval/m_recall.c
trec_eval/m_recip_rank.c
trec_eval/m_rel_P.c
trec_eval/m_relstring.c
trec_eval/m_Rndcg.c
trec_eval/m_Rprec.c
trec_eval/m_Rprec_mult.c
trec_eval/m_Rprec_mult_avgjg.c
trec_eval/m_runid.c
trec_eval/m_set_F.c
trec_eval/m_set_map.c
trec_eval/m_set_P.c
trec_eval/m_set_recall.c
trec_eval/m_set_rel_P.c
trec_eval/m_success.c
trec_eval/m_utility.c
trec_eval/m_yaap.c
trec_eval/Makefile
trec_eval/meas_acc.c
trec_eval/meas_avg.c
trec_eval/meas_init.c
trec_eval/meas_print_final.c
trec_eval/meas_print_single.c
trec_eval/measures.c
trec_eval/quicktest.bat
trec_eval/README
trec_eval/README.windows.md
trec_eval/sysfunc.h
trec_eval/test/out.test
trec_eval/test/out.test.a
trec_eval/test/out.test.aq
trec_eval/test/out.test.aqc
trec_eval/test/out.test.aqcM
trec_eval/test/out.test.aql
trec_eval/test/out.test.aqZ
trec_eval/test/out.test.meas_params
trec_eval/test/out.test.prefs
trec_eval/test/out.test.qrels_jg
trec_eval/test/out.test.qrels_prefs
trec_eval/test/prefs.rank20
trec_eval/test/prefs.results.test
trec_eval/test/prefs.test
trec_eval/test/qrels.123
trec_eval/test/qrels.rel_level
trec_eval/test/qrels.test
trec_eval/test/results.test
trec_eval/test/results.trunc
trec_eval/test/zscores_file
trec_eval/trec_eval.c
trec_eval/trec_eval.h
trec_eval/trec_format.h
trec_eval/utility_pool.c
trec_eval/windows/mman.c
trec_eval/windows/mman.h
trec_eval/windows/unistd.h
trec_eval/windows/ya_getopt.c
trec_eval/windows/ya_getopt.h
trec_qrel.txt
trec_rank.txt
